<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>롯데On</title>
    <link rel="stylesheet" href="/css/layout.css">
</head>
<body>
<header>
    <div class="header_main">
        <div class="user_menu">
            <div class="menu_items">
                <div class="login">

                    <a href="/user/member/login">로그인/회원가입</a>
                    <a href="/user/logout">로그아웃</a>
                </div>
                <a href="/cs/index">고객센터</a>
                <a href="/my/order">주문배송</a>
                <a href="/admin">관리페이지</a>
            </div>
        </div>

        <div class="logo">
            <a href="/">
                <img src="/images/logo.png" alt="롯데On 로고">
            </a>
            <div class="user-icons">
                <div class="icon-item">
                    <a href="#">
                        <img src="/images/lotteon/나의 찜.PNG" alt="나의 찜">
                    </a>
                    <span>나의 찜</span>
                </div>
                <div class="icon-item">
                    <a href="/my/home">
                        <img src="/images/lotteon/마이롯데.PNG" alt="마이롯데">
                    </a>
                    <span>마이롯데</span>
                </div>
                <div class="icon-item">
                    <a href="/product/cart">
                        <img src="/images/lotteon/장바구니.PNG" alt="장바구니">
                    </a>
                    <span>장바구니</span>
                </div>
            </div>
        </div>
    </div>

    <div class="gnb">
        <div class="category-wrapper">
            <div class="category" id="categoryBtn">
                <img src="/images/lotteon/목록버튼.PNG" alt="카테고리">

                <div class="category-menu" id="categoryMenu">
                    <ul>
                        <li><a href="#">카테고리1</a></li>
                        <li><a href="#">카테고리2</a></li>
                        <li><a href="#">카테고리3</a></li>
                        <!-- 필요에 따라 하드코딩 혹은 JS로 동적 생성 -->
                    </ul>
                </div>

                <div class="subcategory-menu" id="subcategoryMenu">
                    <ul>
                        <li><a href="/product/list?subCateNo=1">서브카테고리1</a></li>
                        <li><a href="/product/list?subCateNo=2">서브카테고리2</a></li>
                        <!-- 필요에 따라 -->
                    </ul>
                </div>
            </div>
        </div>

        <ul class="nav-menu">
            <li><a href="#">히트상품</a></li>
            <li><a href="#">추천상품</a></li>
            <li><a href="#">최신상품</a></li>
            <li><a href="#">인기상품</a></li>
            <li><a href="#">할인상품</a></li>
        </ul>
    </div>
</header>
